.about-container {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.about-container h1 {
    color: #0078ff;
    margin-bottom: 10px;
}

.about-container p {
    color: #333;
    line-height: 1.6;
}

.about-container hr {
    margin: 20px 0;
    border: 0.5px solid rgb(240, 240,240);
}

.about-container {
    color: #0078ff;
    margin-top: 15px;
}

.about-container ul {
    list-style: none;
    padding: 0;
}

.about-container li {
    margin: 8px 0;
    color: #444;
}

.about-container li i {
    color: #0078ff;
    margin-right: 8px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.team-member {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.team-member:hover {
    transform: scale(1.1);
    background-color: #9fccff;
}

.team-member i {
    font-size: 2rem;
    color: gray;
    margin-bottom: 10px;
}
